@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Indie+Flower&family=Monoton&family=Pacifico&display=swap');

.calcApp {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 100px;
}

p {
  font-size: larger;
}

.welcome {
  font-size: larger;
  margin: 10%;
}

.quotes {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  text-align: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  padding: 10px;
  font-family: 'Indie Flower', cursive;
  flex-wrap: wrap;
}

.appName {
  color: white;
  font-size: x-large;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 50px;
  margin-right: 30px;
  padding: 0;
  color: white;
  font-size: larger;
}

.nav-list li a {
  text-decoration: none;
  color: white;
  font-size: larger;
}

.quoteApp {
  font-family: 'Indie Flower', cursive;
  font-size: larger;
}

.loading {
  display: flex;
  justify-content: center;
  font-size: xxx-large;
}
